table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    font-size: 20px;
  }

  td {
    font-size: 18px;
  }

  td, th {
    line-height: 1.5;
  }

form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  

  form input[type="text"], form input[type="date"], form input[type="submit"] {
    display: block;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  

  form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  